      

        .caro {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background: #ffffff;
            margin-bottom: 30px;
        }

        .carousel-container {
            position: relative;
            width: 100%;
            height: 550px;
            /* Adjusted container height to match image height */
            overflow: hidden;
            display: flex;
            justify-content: center;
            /* align-items: center; */
            gap: 100px;
            /* Increased space between images */
        }

        .image-fixed {
            position: absolute;
            margin-top: 30px;
            margin-right: 100px;
        }

        .image-fixed>img {
            max-width: 400px;
            width: 100%;
        }

        .carousel {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
        }

        .carousel-item {
            position: absolute;
            transition: transform 0.5s ease-in-out, opacity 0s ease-in-out;
        }

        .carousel-item {
            max-width: 260px;
            width: 100%;
            height: 250px;
            /* padding: 5px; */
            border-radius: 5px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }

        .carousel-item img {
            max-width: 260px;
            width: 100%;
            max-height: 250px;
            height: 100%;
            border-radius: 5px;
            object-fit:cover;
            background-color: white;
        }

        .left {
            transform: translateX(-150%) scale(0.8);
            /* Adjusted to move the image more to the left */
            opacity: 0.5;
        }

        .center {
            transform: translateX(0) scale(1.5);
            opacity: 1;
            /* Fixed opacity value for better clarity */
        }

        .right {
            transform: translateX(150%) scale(0.8);
            /* Adjusted to move the image more to the right */
            opacity: 0.5;
        }

        .behind {
            transform: translateX(0) scale(1.5);
            opacity: 0;
        }

        .slanttextbox {
            position: absolute;
            background-color: white;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            border-radius: 2px;
            left: 50%;
            bottom: -45px;
            max-width: 200px;
            width: 100%;
            height: 90px;
            transform: translateX(-50%) rotate(-6.31deg);
            padding: 10px;
        }

        .slanttextbox {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .slanthead {
            font-family: prompt;
            font-size: 12px;
            font-weight: 700;
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: center;
        }

        .slantpoints {
            font-family: prompt;
            font-size: 10px;
            font-weight: 400;
            color: #494949;
            padding-left: 15px;
            line-height: 15px;
        }

        @media (max-width:500px) {
            .carousel-item {
                max-width: 220px;
                width: 100%;
                height: 220px;
            }
            .image-fixed>img {
                width: 300px;
            }
        }
