.caro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #ffffff;
  margin-bottom: 30px;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 470px;
  overflow: hidden;
  display: flex;
  justify-content:center;
  align-items:center;
  gap: 100px;
}

.image-fixed {
  position: absolute;
  /* margin-top: 30px; */
  margin-right: 100px;
}

.image-fixed > img {
  max-width: 400px;
  width: 100%;
}

.carousel {
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding: 5px;
  height: 100%;
}

.carousel-item {
  position: absolute;
  transition: transform 0.5s ease-in-out, opacity 0s ease-in-out;
}

.carousel-item {
  max-width: 260px;
  width: 100%;
  max-height: 250px;
  height: 100%;
  /* padding: 5px; */
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.carousel-item img {
  max-width: 260px;
  width: 100%;
  max-height: 250px;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  background-color: white;
  border: 1px solid black;

}

.left {
  transform: translateX(-150%) scale(0.8);
  /* Adjusted to move the image more to the left */
  opacity: 0.5;
}

.center {
  transform: translateX(0) scale(1.5);
  opacity: 1;
  /* Fixed opacity value for better clarity */
}

.right {
  transform: translateX(150%) scale(0.8);
  /* Adjusted to move the image more to the right */
  opacity: 0.5;
}

.behind {
  transform: translateX(0) scale(1.5);
  opacity: 0;
}

.slanttextbox {
  position: absolute;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 2px;
  left: 50%;
  bottom: -45px;
  max-width: 200px;
  width: 100%;
  height: 90px;
  transform: translateX(-50%) rotate(-6.31deg);
  padding: 10px;
}

.slanttextbox {
  display: flex;
  justify-content: center;
  width: 100%;
}

.slanthead {
  font-family: prompt;
  font-size: 12px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  width: 100%;
}

.slantpoints {
  font-family: prompt;
  font-size: 10px;
  font-weight: 400;
  color: #494949;
  padding-left: 15px;
  line-height: 15px;
  width: 100%;
}

@media (max-width: 500px) {
  .carousel-item {
    max-width: 220px;
    width: 100%;
    height: 220px;
  }
  .carousel-item img {
    max-width: 260px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    background-color: white;
  }
  .image-fixed > img {
    width: 300px;
  }
}
@media (max-width: 390px) {
  .carousel-item {
    max-width: 200px;
    width: 100%;
    max-height: 220px;
  }
  .carousel-item img {
    max-width: 200px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    background-color: white;
  }
  .image-fixed > img {
    width: 300px;
  }
  .slanttextbox {
    max-width: 185px;
    height: auto;
  }
}

/* media code */

.media-box-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    /* background: #f1f4fd; */
    width: 100%;
  }
  
  .container {
    max-width: 1200px;
    width: 100%;

  }
  
  .slider-wrapper {
    position: relative;
  }
  
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }
  
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  .image-list {
    display: flex;
    gap: 18px;
    overflow-x: auto;
    list-style: none;
    scrollbar-width: none;
    padding: 2px;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 4px 4px 0px #00000040;
    /* margin: 2px; */
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
  
  .image-title {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    width: 100%;
    font-family: "Poppins", serif;
  }
  .image-para{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    color: gray;
  }
  .image-item {
    width: 400px;
    height: 325px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
  }
  
  
  
  .image-list:hover .image-container:not(:hover) {
    filter: blur(1px); /* Blurs non-hovered items */
    opacity: 0.6;
    transition: 0.3s ease-in-out;
}

  
  
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    width: 100%;
  }
  
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  
  .slider-wrapper .image-list .image-item {
    max-width: 400px;
    height: 325px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }
  
  /* Styles for mobile and tablets */
  @media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
  
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
  
    .slider-wrapper .image-list .image-item {
      max-width: 320px;
      height: 250px;
      object-fit: cover;
    }
  
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  }
  
  @media (max-width:400px) {
    .slider-wrapper .image-list .image-item {
      max-width: 300px;
      height: 250px;
      object-fit: cover;
    }
  }